.logo{
		width: 100px;
		height: auto;
	}
	h1{
		text-align: center;
		color: #006680 !important;
	}
	body {
		background-color:#C9A888;
			  margin: 0;
    		  padding: 0;
    		  width: 100%;
    		  min-height: 100vh;
		    display: flex;
		    flex-direction: column;
	}
	

.container {
  flex: 1;
  height: 100%;
}
    .bg-primary.text-white.p-3.rounded {
   width: 30%; /* ou une autre valeur en pourcentage ou en pixels */
   padding: 1rem; /* ou une autre valeur en rem, em, pixels, etc. */
}