body{
			  background-color:#C9A888;
			  margin: 0;
    		  padding: 0;
    		  width: 100%;
    		  min-height: 100vh;
		    display: flex;
		    flex-direction: column;
			  }
		.buttons-container {
		    display: flex;
		    flex-direction: column; /* Aligner les boutons verticalement */
		    align-items: center; /* Centrer les boutons horizontalement */
		    gap: 10px; /* Espacer les boutons verticalement */
		    margin-top: 10px; /* Espace au-dessus du premier bouton, ajustez selon besoin */
		}
		
		/* Container holding the buttons */
		.buttons-container {
		    display: flex;
		    flex-direction: column;
		    align-items: center; /* Align to the left side or 'flex-end' for right */
		    justify-content: center; /* Center buttons vertically if container has a specific height */
    		gap: 10px; /* Adjust the space between buttons */
		}
		
		
		
		button{
			width: 100%;
			margin: 15px;
			color: #fff;
			border-radius: 15px;
			background-color: #006680;
		}
		
		/* Container for both the table and the buttons */
		.layout-container {
		    display: flex;
		    justify-content: space-between; /* Or 'flex-start' for left alignment */
		}
 
 
		
		.header-container img {
		    max-width: 100%; /* S'assure que l'image ne dépasse pas la largeur de son conteneur */
		    height: auto; /* Maintient l'aspect ratio de l'image */
		}
		
		.header-container h2 {
			color:#006680;
			text-align: center; /* Centre le titre horizontalement */
			margin-top: 20px; /* Ajoutez une marge au-dessus, si nécessaire */
			margin-bottom: 20px; /* Ajoutez une marge en-dessous, si nécessaire */
		}
		  /*.table-container {
			float: left;
		    max-width: 1000px;
		    margin: 20px auto;
		    overflow-x: auto; 
		    padding: 20px;
		  }*/
		  
		  .table-container {
			  height: 60vh; /* Ajustez la hauteur selon vos besoins */
		    width: 100%;
		    overflow-x: auto;
		    overflow-y: auto; /* Ajoutez une barre de défilement vertical si nécessaire */
		    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
		
		  table {
		
		    width: 100%;
		    border-collapse: collapse; /* Élimine les espaces entre les bordures des cellules */
		  }
		
		  th, td {
		    text-align: left;
		    padding: 8px; /* Espacement à l'intérieur des cellules */
		    border-bottom: 1px solid #ddd; /* Ligne de séparation des rangées */
		  }
		
		  th {
		    background-color: #006680; /* Couleur d'arrière-plan pour les en-têtes */
		    color: white;
		  }
		
.selected-row {
    background-color: rgb(64, 128, 128);
}

		
		  tr:hover {
		    background-color: #fff; /* Couleur d'arrière-plan au survol d'une rangée */
		  }
		  .container {
  flex: 1;
  height: 100%;
}