body {
    background-color: #C9A888;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#filter-bar {
    margin-bottom: 15px;
}

table {
    width: 100%; /* Réglez la largeur du tableau à 100% */
    border-collapse: collapse; /* Ajoutez cette ligne pour une meilleure apparence des bordures */
}
.table-container{
	width: 80%;
	overflow-x: auto;
}

.bouttonOption{
	width: 18%; /* Ajustez selon vos besoins */
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.action-button{
	color: #fff;
	border-radius: 15px;
	background-color: #006680;
}
.bigBox {
    display: flex;
    flex-direction: row; /* Aligne les éléments horizontalement */
    justify-content: space-between; /* Espace équitablement les éléments enfants */
    align-items: center;
}
tr{
	max-width: 100%;
}

.custom-table th,
.custom-table td {
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    height: 100%;
    width: 14.28%; /* 100% / 7 colonnes = 14.28%, ajustez selon le nombre de colonnes */
    white-space: nowrap; /* Empêche le texte de passer à la ligne dans les cellules */
}

.custom-table td {
    font-size: 0.8em; /* Ajuste automatiquement la taille de la police en cas de dépassement */
    overflow: hidden; /* Cache le texte débordant */
    text-overflow: ellipsis; /* Ajoute des points de suspension (...) pour indiquer du texte caché */
}
   
.container{ /* Le container occupe tout l'espace disponible */
	flex:1;
	padding: 20px; 	   
}