body {
    background-color: #C9A888;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#filter-bar {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-container {
    height: 60vh;
    /* Ajustez la hauteur selon vos besoins */
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    /* Ajoutez une barre de défilement vertical si nécessaire */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

tr {
    max-width: 100%;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: #006680;
    color: #fff;
    padding: 10px;
}

.custom-table th,
.custom-table td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.custom-table td {
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Mascotte {
    position: fixed;
    bottom: 8%;
    /* Ajoute un espace au fond */
    right: 3%;
    /* Ajoute un espace à droite */
    max-width: 100px;
    /* Taille réduite */
    max-height: auto;
    /* Garde le ratio aspect de l'image */
    z-index: 100;
    /* Assurez-vous que la mascotte est au-dessus des autres éléments si nécessaire */
    cursor: pointer;
    /* Change le curseur en main lorsque vous survolez la mascotte */
}


.container {
    background-color: #fff;
    flex: 1;
    padding: 20px;
    width: 100%;
}