	<!DOCTYPE html>
	<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>CLIENT</title>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	    <link th:href="@{/static/css/client.css}" rel="stylesheet">
	</head>
	
	<body>
			  <div th:replace="headerNonConnect.html"></div>
			  <img src="/static/images/Mascotte_HautParleur.png" alt="Mascotte" class="img-fluid Mascotte"
	        style="position: fixed; bottom: 10%; right: 10%; max-width: 8%;">
	    <div class="container">
	        <div class="row align-items-center"> <!-- Utilisation de la classe 'row' de Bootstrap -->
	            
	            <!-- Titre -->
	            <div class="col"> <!-- Utilisation de la classe 'col' pour occuper l'espace restant -->
	                <h1 class="mt-3 mb-4">Client</h1>
	            </div>
	        </div>
	
	        <!-- Tableau de colonnes : Logo, Nom et Description -->
	        <table class="table">
	            <thead>
	                <tr>
	                    <th scope="col">Photos</th>
	                    <th scope="col">Noms</th>
	                    <th scope="col">Description</th>
	                </tr>
	            </thead>
	            <tbody>
	    <tr th:each="client : ${clients}"> <!-- Itération sur chaque client -->
	        <td><img th:src="@{/static/images/{logo}(logo=${client.logo_client})}" alt="Logo" class="img-thumbnail"></td> <!-- Afficher le logo -->
	        <td th:text="${client.name_client}">Nom des clients</td> <!-- Afficher le nom -->
	        <td th:text="${client.description_client}">Description</td> <!-- Afficher la description -->
	    </tr>
	</tbody>
	        </table>
	        <!-- Fin du tableau de colonnes -->
	       </div>
	
	    <script>
	        // Utilisation de fetch pour charger le contenu de l'en-tête depuis headeruserFSP.html
	        fetch('headeruserFSP')
	            
	            .then(response => response.text())
	            .then(data => {
	                document.getElementById('headerContainer').innerHTML = data;
	                // Charger les scripts JavaScript après avoir inséré le contenu de l'en-tête
	                loadHeaderScripts();
	            })
	            .catch(error => console.error(error));
	
	        function loadHeaderScripts() {
	            // Charger les scripts JavaScript nécessaires après avoir inséré l'en-tête
	            const script1 = document.createElement('script');
	            script1.src = 'https://code.jquery.com/jquery-3.6.0.min.js';
	            document.body.appendChild(script1);
	
	            const script2 = document.createElement('script');
	            script2.textContent = `
	                function toggleMenu() {
	                    var menu = document.getElementById("menuOptions");
	                    menu.style.display = (menu.style.display === "block") ? "none" : "block";
	                }
	            `;
	            document.body.appendChild(script2);
	        }
	    </script>
	</body>
	</html>