<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/static/css/produitAR.css}" rel="stylesheet">
	<title>Produit Admin</title>
</head>

<body>
	<!-- Header pour role Ruche -->
	<div th:if="${loggedInUser != null and loggedInUser.idRole == 2}">
		<div th:replace="headerRuche.html"></div>
	</div>

	<!-- Header pour role Admin -->
	<div th:if="${loggedInUser != null and loggedInUser.idRole == 3}">
		<div th:replace="headerConnect.html"></div>
	</div>

	<!-- Header pour session non connectée -->
	<div th:unless="${loggedInUser != null}">
		<div th:replace="headerNonConnect.html"></div>
	</div>
	<div class="container">
		<p> Vous êtes sur la page des produits. Vous trouverez ci dessous tout les
			produits par dataset, domaine et référents de la ruche FSP.
		</p>

		<div id="filter-bar">
			<label for="filter">Filtrer par :</label>
			<input type="text" id="filter" onkeyup="filterTable()" placeholder="Entrez votre filtre">
		</div>

		<div class="bigBox">
			<div class="table-container">
				<table id="myTable" class="custom-table">
					<thead>
						<tr>
							<th>Nom du produit</th>
							<th>Dataset</th>
							<th>Data champion</th>
							<th>Workspace</th>
							<th>Resumé des fonctionnalités</th>
							<th>Lien</th>
							<th>Perimetre</th>
							<th>Détail des fonctionnalités</th>

						</tr>
					</thead>

					<tbody>
						<tr th:each="produit : ${produits}" th:data-product-id="${produit.id}" onclick="selectRow(this)"
							class="editable-row">
							<td th:text="${produit.nameProduct}"></td>
							<td th:text="${produit.dataset != null ? produit.dataset.name_dataset : 'Non défini'}"></td>
							<td th:text="${produit.dataChampion}"></td>
							<td
								th:text="${produit.workspace != null ? produit.workspace.name_workspace : 'Non défini'}">
							</td>
							<td th:text="${produit.summary}"></td>
							<td th:text="${produit.link}"></td>
							<td th:text="${produit.perimeter}"></td>
							<td th:text="${produit.featureDetails}"></td>
						</tr>

					</tbody>
				</table>
			</div>



			<div class="bouttonOption">
				<a th:href="@{add_produit}"><button type="button" class="action-button"
						onclick="ajouter()">Ajouter</button></a>
				<button class="save-btn" onclick="saveModifications()" style="display: none;">Valider les
					modifications</button>
				<button type="button" class="action" onclick="modifier()">Modifier</button>
				<button type="button" class="action-button2" onclick="confirmDelete()">Supprimer</button>
			</div>


		</div>
	</div>

	<script th:inline="javascript">
		function filterTable() {
			var input, filter, table, tr, td, i, j, txtValue;
			input = document.getElementById("filter");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");

			for (i = 0; i < tr.length; i++) {
				var displayRow = false;
				td = tr[i].getElementsByTagName("td");

				// Exclude header rows from filtering
				if (i === 0 || td.length === 0) {
					tr[i].style.display = "";
					continue;
				}

				for (j = 0; j < td.length; j++) {
					txtValue = td[j].textContent || td[j].innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						displayRow = true;
						break; // No need to check other columns if a match is found in one column
					}
				}

				tr[i].style.display = displayRow ? "" : "none";
			}
		}
		var datasets = /*[[${datasets}]]*/[];
		var workspaces = /*[[${workspaces}]]*/[];



		function selectRow(row) {
			// Désélectionner les autres lignes
			var rows = document.getElementsByTagName("tr");
			for (var i = 0; i < rows.length; i++) {
				rows[i].classList.remove("selected-row");
			}

			// Sélectionner cette ligne
			row.classList.add("selected-row");

			// Récupérer l'ID du produit
			var productId = row.getAttribute('data-product-id');
			console.log('ID du produit sélectionné : ' + productId);
		}

		function modifier() {
			var selectedRow = document.querySelector('.selected-row');

			if (selectedRow) {
				var confirmation = confirm("Voulez-vous modifier la ligne sélectionnée?");
				if (confirmation) {
					editRow(selectedRow);
				}
			} else {
				alert("Veuillez sélectionner une ligne à modifier.");
			}
		}

		function editRow(row) {
			var cells = row.querySelectorAll('td');

			cells.forEach(function (cell, index) {
				if (index === 1) { // Index pour la colonne Dataset
					var select = createDropdown(datasets, cell.innerText.trim());
					cell.innerHTML = '';
					cell.appendChild(select);
				} else if (index === 3) { // Index pour la colonne Workspace
					var select = createDropdown(workspaces, cell.innerText.trim());
					cell.innerHTML = '';
					cell.appendChild(select);
				} else {
					var input = document.createElement('input');
					input.value = cell.innerText.trim();
					cell.innerHTML = '';
					cell.appendChild(input);
				}
			});
			var cancelBtn = document.createElement('button');
			cancelBtn.innerText = 'Annuler';
			cancelBtn.onclick = function () {
				cancelEditRow(row);
			};

			row.appendChild(cancelBtn);

			hideEditButton();
			showSaveButton(); // Affiche le bouton "Valider les modifications"
		}

		function cancelEditRow(row) {
			var cells = row.querySelectorAll('td');

			cells.forEach(function (cell) {
				cell.innerHTML = cell.querySelector('input').value;
			});

			row.removeChild(row.lastChild); // Supprime le bouton "Annuler"

			hideSaveButton(); // Cache le bouton "Valider les modifications"
			showEditButton(); // Affiche à nouveau le bouton "Modifier"
			deselectRow();
		}

		function showEditButton() {
			var editBtn = document.querySelector('.action');
			editBtn.style.display = 'inline-block';
		}

		function showSaveButton() {
			var saveBtn = document.querySelector('.save-btn');
			saveBtn.style.display = 'inline-block';
		}

		function hideSaveButton() {
			var saveBtn = document.querySelector('.save-btn');
			saveBtn.style.display = 'none';
		}
		function hideEditButton() {
			var editBtn = document.querySelector('.action');
			editBtn.style.display = 'none';
		}

		function deselectRow() {
			var selectedRow = document.querySelector('.selected-row');
			if (selectedRow) {
				selectedRow.classList.remove('selected-row');
			}
		}

		function saveModifications() {
			var selectedRow = document.querySelector('.selected-row');

			if (selectedRow) {
				var cells = selectedRow.querySelectorAll('td');
				var updatedProduct = {};

				var productId = selectedRow.getAttribute('data-product-id');
				updatedProduct["id"] = productId;

				updatedProduct["nameProduct"] = cells[0].querySelector('input').value.trim();
				updatedProduct["id_dataset"] = cells[1].querySelector('select').value.trim();
				updatedProduct["data_champion"] = cells[2].querySelector('input').value.trim();
				updatedProduct["id_workspace"] = cells[3].querySelector('select').value.trim();
				updatedProduct["summary"] = cells[4].querySelector('input').value.trim();
				updatedProduct["link"] = cells[5].querySelector('input').value.trim();
				updatedProduct["perimeter"] = cells[6].querySelector('input').value.trim();
				updatedProduct["featureDetails"] = cells[7].querySelector('input').value.trim();
				// Utilisez une requête AJAX pour envoyer les données au backend
				fetch('/update_product', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify(updatedProduct),
				})
					.then(response => {
						if (!response.ok) {
							throw new Error('Erreur lors de la mise à jour des données');
						}
						return response.text(); // Utilisez response.text() au lieu de response.json()
					})
					.then(data => {
						console.log('Réponse du serveur :', data);
						// Vous pouvez gérer la réponse du serveur ici si nécessaire
						// Rediriger vers la page "produitAdmin" après la sauvegarde
						window.location.href = '/produitAdmin';
					})
					.catch(error => {
						console.error('Erreur :', error.message);
						// Gérez les erreurs en conséquence
					});
			} else {
				alert("Veuillez sélectionner une ligne à modifier.");
			}
			deselectRow();
		}
		console.log(JSON.stringify(updatedProduct));



		function showProductId(row) {
			// Vérifiez si produitMap est défini
			if (typeof produitMap !== 'undefined') {
				// Utilisez produitMap ici
				var selectedRowId = produitMap.get(row);
				console.log("ID du produit sélectionné : " + selectedRowId);
			} else {
				console.error("Erreur : produitMap n'est pas défini.");
			}
		}


		function confirmDelete() {
			var selectedRow = document.querySelector('.selected-row');

			if (selectedRow) {
				var confirmation = confirm("Voulez-vous supprimer la ligne sélectionnée?");
				if (confirmation) {
					deleteRow(selectedRow);
				}
			} else {
				alert("Veuillez sélectionner une ligne à supprimer.");
			}
		}

		function deleteRow(row) {
			var productId = row.getAttribute('data-product-id');

			// Utilisez une requête AJAX pour envoyer l'ID au backend pour la suppression
			fetch('/delete_product/' + productId, {
				method: 'DELETE',
				headers: {
					'Content-Type': 'application/json',
				},
			})
				.then(response => {
					if (!response.ok) {
						throw new Error('Erreur lors de la suppression des données');
					}
					return response.text(); // Utilisez text() pour récupérer le texte brut
				})
				.then(data => {
					// Gérez la réponse du serveur si nécessaire
					console.log('Données supprimées avec succès', data);
					// Ajoutez d'autres actions si nécessaire
					window.location.href = '/produitAdmin';
				})
				.catch(error => {
					console.error('Erreur:', error.message);
					// Gérez les erreurs en conséquence
				});
		}

		function createDropdown(data, selectedValue) {
			var select = document.createElement('select');

			data.forEach(function (item) {
				var option = document.createElement('option');
				// Utilisez les attributs corrects ici
				option.value = item.id_dataset || item.id_workspace; // Ajustez selon la structure de vos données
				option.text = item.name_dataset || item.name_workspace; // Ajustez selon la structure de vos données
				option.selected = (item.name_dataset === selectedValue) || (item.name_workspace === selectedValue);
				select.appendChild(option);
			});

			return select;
		}






	</script>



</body>

</html>